.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.person {border-radius: 100%;}

.drejtkendshi {
    height: 80px;
    width: 500px;
    display: flex;
    margin-top: 20px;

}

.netflix {
    height: 80px;
    width: 80px
}

.posht-mes-drejtkendsh {
    display: flex;
}

.done {
    
    margin-top: 0;
    margin-left: 7px;
}

.div-i-done {
    height: 20px;
    width: 50px;
    border: solid 1px rgb(26, 26, 254);
    margin-left: 20px;
    margin-top: -10px;
    border-radius: 10%;
}

.numrat-e-pagesave {
    color: red;
}

.numrat-e-pagesave-pozitiv {
    color: green;
}

.ana-e-djatht-e-drejtkendshit1 {
    margin-left: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.ana-e-djatht-e-drejtkendshit2 {
    margin-left: 125px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.ana-e-djatht-e-drejtkendshit3 {
    margin-left: 152px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.ana-e-djatht-e-drejtkendshit4 {
    margin-left: 120px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.ana-e-djatht-e-drejtkendshit5 {
    margin-left: 170px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.spotify {
    height: 70px;
    width: 70px;
    border-radius: 100%;
}

.sylvia {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}

.div-i-proccesing {
    height: 20px;
    width: 85px;
    border: solid 1px yellow;
    margin-left: 20px;
    margin-top: -10px;
    border-radius: 10%;
}

.proccesing {
    margin-top: 0;
    margin-left: 7px;
}